.outreach-card{
    border: 3px solid black;
    margin: 10px;
    max-width: 600px;
    min-height: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.carousel-item > img{
    height: 400px !important;
}
.col{
    gap: 10px !important;
}